<div class="sales-page-container">
    <div class="type-document-options">
        <h4>Тип документ</h4>

        <p *ngFor="let option of options" (click)="selectOption(option)"
            [ngClass]="{'selected': selectedOption === option}" (click)="ShowInvoiceOption(option)">
            {{ option }}
        </p>

    </div>
    <div class="invoice-table-container">
        <div class="invoice-table-container-header">
            <h4>Изходящи фактури (1999)</h4>
            <div class="table-options">
                <input class="search-invoice" type="text" placeholder="Search...">
                <button class="add-invoice-btn" routerLink="/documents/sales/add-invoice">
                    Добавяне на фактура
                </button>
                <button class="reference-invoice-btn">
                    Справка
                </button>
            </div>

        </div>
        <div class="invoice-table">
            <table>
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата на фактура</th>
                        <th>Тип</th>
                        <th>Клиент</th>
                        <th>Стойност</th>
                        <th>Тип на плащане</th>
                        <th>Статус</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoicesToShow">
                        <td>{{invoice.invoiceNumber}}</td>
                        <td>{{invoice.invoiceDate}}</td>
                        <td>{{invoice.documentType}}</td>
                        <td *ngIf="invoice.client !== null">{{invoice.client.nameOfClient}}</td>
                        <td *ngIf="invoice.client === null">Няма клиент</td>
                        <td>{{invoice.totalPrice.toFixed(2)}}лв</td>
                        <td>{{invoice.paymentType}}</td>
                        <td>чаkа плащане</td>
                        <td>
                            <div class="action-icon edit-icon" *ngIf="invoice._id" [routerLink]="['/documents/sales/', invoice._id,'edit']"></div>
                            <div class="action-icon print-icon"></div>
                            <div class="action-icon dollars-bag-icon"></div>
                            <div class="action-icon files-icon"></div>
                            <div class="action-icon message-icon"></div>
                            <div class="action-icon bin-icon" (click)="DeleteInvoiceHandler(invoice._id)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="invoice-table-footer">
            <span class="total-invoices-table-span">Общо фактури: {{invoicesToShow.length}}</span>
            <span class="total-value-table-span">Тотал: {{CalculateTotalInvoicePrice().toFixed(2)}}лв.</span>
        </div>
    </div>
</div>