html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}

.home-container {
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.invoices {
    float: left;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 330px;
}

.holder {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(25% - 25px);
    background-color: white;
    height: 120px;
}

.title {
    float: left;
    text-transform: uppercase;
    margin: 10px 0 0 10px;
    font-weight: bold;
    color: gray;
}

.red-arrow, .green-arrow {
    float: left;
    margin: 10px;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.green-arrow {
    background-image: url('./assets/going-positive-icon.svg');
}

.red-arrow {
    background-image: url('./assets/going-negative-icon.svg');
}

.holder .values {
    float: left;
    width: 100%;
    color: #607DFF;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 0 20px;
}

.holder .values span {
    font-size: 30px;
    font-weight: 600;
}

.last-invoices {
    float: left;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 350px;
}

.last-invoices-holder {
    float: left;
    margin: 0 20px 0 20px;
    width: calc(50% - 42px);
    height: 100%;
    background-color: white;
    border: 1px solid  #EBEBEB;
}
.last-invoices-title {
    float: left;
    width: calc(100% - 15px);
    color: gray;
    font-weight: bold;
    margin: 15px 0 0 15px;
}

.last-invoices table {
    float: left;
    margin: 15px;
    border: 1px solid #EBEBEB;
    border-collapse: collapse;
    width: calc(100% - 30px);
    height: calc(100% - 60px);
    display:block;
}

.last-invoices table thead,
.invoice-table table tbody td  {
    background-color: #F9FBFA;
}

.last-invoices table td,
.invoice-table table tbody td  {
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
}

.last-invoices table thead td,
.invoice-table table tbody td  {
    font-weight: 600;
}

.last-invoices table tbody,
.invoice-table table tbody td   {
    font-weight: 500;
}

.last-invoices table tbody td,
.invoice-table table tbody td {
    border: 1px solid #EBEBEB;
}

.last-invoices table .paid,
.invoice-table table .paid {
    background-color: #4FC11F;
}

.last-invoices table .unpaid,
.invoice-table table .unpaid {
    background-color: #FAA752;
}

.last-invoices table .table-paid-info {
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
}

.col-1 {width: calc(8.33% - 2px) !important;}
.col-2 {width: calc(16.66% - 2px) !important;}
.col-3 {width: calc(25% - 2px) !important;}
.col-4 {width: calc(33.33% - 2px) !important;}
.col-5 {width: calc(41.66% - 2px) !important;}
.col-6 {width: calc(50% - 2px) !important;}
.col-7 {width: calc(58.33% - 2px) !important;}
.col-8 {width: calc(66.66% - 2px) !important;}
.col-9 {width: calc(75% - 2px) !important;}
.col-10 {width: calc(83.33% - 2px) !important;}
.col-11 {width: calc(91.66% - 2px) !important;}
.col-12 {width: calc(100% - 2px) !important;}

.page-container {
    float: left;
    width: calc(100% - 40px);
    margin-top: 60px;
    background-color: #F7FBFE;
    padding: 20px;
}

.add-sales-container {
    background: #fff;
    float: left;
    width: calc(100% - 40px);
    padding: 0 20px;
}

.add-sales-header {
    float: left;
    width: 100%;
}

.add-sales-header h4 {
    margin-bottom: 0;
}

.add-sales-inputs-container {
    float: left;
    width: 100%;
}

.first-row {
    float: left;
    width: 100%;
}

.second-row,
.second-row {
    float: left;
    width: 100%;
}

.input-container {
    float: left;
    margin-top: 20px;
}

.add-sales-inputs-container label {
    float: left;
}

.invoice-input {
    float: left;
    margin-top: 5px;
    width: calc(100% - 40px);
    height: 35px;
    margin-right: 20px;
}

.add-invoice-table-container {
    float: left;
    width: 100%;
    margin-top: 20px;
    height: calc(100% - 350px);
}

.add-invoice-table-container table {
    float: left;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
}
.table-n {
    text-align: center;
   
}

.table-n-number {
 background-image: url('./assets/close.svg');
 background-size: 15px;
 background-repeat: no-repeat;
 background-position-y: 14px;
}

.add-invoice-table-container table thead{
    background-color: #F9FBFA;
    color: #505050;
    font-weight: 600;
    font-size: 12px;
}

.add-invoice-table-container table thead th{
    padding: 10px;
}

.add-invoice-table-container table tbody {
    background-color: white;
}

.add-invoice-table-container table tbody tr {
    height: 35px;
}
.add-invoice-table-container table td {
    border: 1px solid hsl(0, 3%, 80%);
}

.long-table-td {
    width: 55%;
}

.middle-table-td {
    width: 6%;
}

.short-table-td {
    width: 5%;
}
.td-values {
    width: 8%;
}

.td-n {
    width: 3%;
  
}

.add-invoice-table-container table td input,
.add-invoice-table-container select{
    width: calc(100% - 20px);
    height: 35px;
}

.add-invoice-footer {
    float: left;
    background-color: #F9FBFA;
    text-align: right;
    width: calc(100% - 40px);
    padding: 10px 20px;
}

.add-invoice-footer .action-button,
.add-invoice-footer .button-go-back {
    border: none;
    border-radius: 3px;
    margin-left: 15px;
    padding: 5px 10px;
}

.add-invoice-footer .button-go-back {
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.add-invoice-footer .action-button {
    background-color: rgb(122, 206, 245);
    color: white;
}

@media print {
    /* All your print styles go here */
    header,
    #footer,
    #nav {
        display: none !important;
    }
}