<div class="home-container">
    <div class="invoices">

        <div class="holder income-invoices">
            <div class="title">Входни фактури</div>
            <i class="green-arrow"></i>
            <div class="values"><span>0</span>лв</div>
        </div>
        <div class="holder output-invoices">
            <div class="title">Изходни фактури</div>
            <i class="red-arrow"></i>
            <div class="values"><span>0</span>лв</div>


        </div>
        <div class="holder obligations-to-us">
            <div class="title">Задължения към нас</div>
            <div class="values"><span>3210</span>лв</div>

        </div>
        <div class="holder obligations-to-dost">
            <div class="title">Задължения към дост</div>
            <div class="values"><span>625</span>лв</div>

        </div>

        <div class="holder bank-balance">
            <div class="title">Наличност в банка</div>
            <div class="values"><span>------</span>лв</div>

        </div>

    </div>

    <div class="last-invoices">

        <div class="last-invoices-holder">
            <div class="last-invoices-title">Последни 10 изходящи фактури</div>
            <table>
                <thead>
                    <tr>
                        <td width="25%">Дата на фактура</td>
                        <td width="35%">Клиент</td>
                        <td width="15%">Стойност</td>
                        <td width="25%">Статус</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of lastInvoices">
                        <td>{{ invoice.invoiceDate }}</td>
                        <td>
                            <span *ngIf="invoice.client != null">
                                {{ invoice.client.nameOfClient }}
                            </span>
                            <span *ngIf="invoice.client == null">
                                Няма назначен клиент
                            </span>
                        </td>
                        <td>{{ invoice.totalPrice.toFixed(2) }}</td>
                        <td>
                            <span class="table-paid-info" [ngClass]="{ 'unpaid':invoice.paymentStatus == 0, 'paid':invoice.paymentStatus == 1 }">{{ ReturnInvoiceStatus(invoice.paymentStatus) }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="last-invoices-holder">
            <span class="last-invoices-title">Последни 10 входящи фактури</span>
            <table>
                <thead>
                    <tr>
                        <td width="25%">Дата на фактура</td>
                        <td width="35">Доставчик</td>
                        <td width="15%">Стойност</td>
                        <td width="25%">Статус</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of lastIncomingInvoices" >
                        <td>{{invoice.invoiceDate}}</td>
                        <td>{{invoice.supplier}}</td>
                        <td>{{invoice.sumForPay.toFixed(2)}}{{invoice.currency}}</td>
                        <td>
                            <span class="table-paid-info" [ngClass]="{ 'unpaid':invoice.paymentStatus == 0, 'paid': invoice.paymentStatus == 1}">{{ReturnInvoiceStatus(invoice.paymentStatus)}}</span>
                        </td>
                   
                    </tr>
                    <!-- <tr>
                        <td>05.02.2025</td>
                        <td>Офис Консумативи ООД</td>
                        <td>54.74в</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr>
                    <tr>
                        <td>06.02.2025</td>
                        <td>АСБИС България ЕООД</td>
                        <td>170.81лв</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr>
                    <tr>
                        <td>06.02.2025</td>
                        <td>ТМТ Елком ООД</td>
                        <td>0лв</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr>
                    <tr>
                        <td>31.01.2025</td>
                        <td>Девин ЕАД</td>
                        <td>47.50лв</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr>
                    <tr>
                        <td>30.01.2025</td>
                        <td>Еконт Експрес ООД</td>
                        <td>6.25</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr>
                    <tr>
                        <td>28.01.2025</td>
                        <td>"Стопчето" ООД</td>
                        <td>46.99лв</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr>
                    <tr>
                        <td>27.01.2025</td>
                        <td>Еконт Експрес</td>
                        <td>5.32лв</td>
                        <td><span class="table-paid-info paid">платена</span></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>

</div>