<div class="expenses-container">
    <div class="invoice-table-container">
        <div class="invoice-table-container-header">
            <h4>Входящи фактури (1999)</h4>
            <div class="table-options">
                <input class="search-invoice" type="text" placeholder="Search...">
                <button class="add-invoice-btn" routerLink="/documents/expenses/add-invoice">
                    Добавяне на фактура
                </button>
                <button class="reference-invoice-btn">
                    Справка
                </button>
            </div>

        </div>
        <div class="invoice-table">
            <table>
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата на фактура</th>
                        <th>Доставчик</th>
                        <th>Стойност</th>
                        <th>Дата на изтичане</th>
                        <th>Статус</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.invoiceNumber}}</td>
                        <td>{{invoice.invoiceDate}}</td>
                        <td>{{invoice.supplier}}</td>
                        <td>{{invoice.sumForPay}}лв</td>
                        <td>{{invoice.expireDate}}</td>
                        <td>чака плащане</td>
                        <td>0 0 0 0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="invoice-table-footer">
            <span class="total-invoices-table-span">Общо фактури: {{invoices.length}}</span>
            <span class="total-value-table-span">Тотал: {{CalculateTotalInvoicePrice().toFixed(2)}}лв.</span>
        </div>
    </div>
</div>