<div class="offers-container">
    <div class="offers-table-container">
        <div class="offers-table-container-header">
            <h4>Оферти (999)</h4>
            <div class="table-options">
                <input class="search-invoice" type="text" placeholder="Search...">
                <button class="add-invoice-btn">Създаване на такса</button>
            </div>

        </div>
        <div class="invoice-table">
            <table>
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Създаване</th>
                        <th>Клиент</th>
                        <th>Стойност</th>
                        <th>Тип</th>
                        <th>Статус</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>22.03.2025</td>
                        <td>Някво заглавие</td>
                        <td>Даикс ЕООД</td>
                        <td>99.99</td>
                        <td>Стока</td>
                        <td>чака одобрение</td>
                        <td class="expenses-action-td">
                            <div class="action-icon edit-icon"></div>
                            <div class="action-icon bin-icon"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>