<div class="offers-container">
    <div class="offers-table-container">
        <div class="offers-table-container-header">
            <h4>Оферти ({{offers.length}})</h4>
            <div class="table-options">
                <input class="search-invoice" type="text" placeholder="Search...">
                <button class="add-invoice-btn" routerLink="/documents/offers/add-offer">Създаване на такса</button>
            </div>

        </div>
        <div class="invoice-table">
            <table>
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Създаване</th>
                        <th>Клиент</th>
                        <th>Стойност</th>
                        <th>Тип</th>
                        <th>Статус</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let offer of offers">
                        <td>{{offer.offerDate}}</td>
                        <td>{{offer.title}}</td>
                        <td>{{offer.mol}}</td>
                        <td>{{offer.totalPrice.toFixed(2)}}лв.</td>
                        <td>{{offer.offerType}}</td>
                        <td>чака одобрение</td>
                        <td class="expenses-action-td">
                            <div class="action-icon edit-icon" [routerLink]="['/documents/offers', offer._id, 'edit']"></div>
                            <div class="action-icon bin-icon" (click)="deleteOffer(offer._id)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>