.edit-automatic-invoice-container {
    float: left;
    width: calc(100% - 80px);
    margin-top: 60px;
    padding: 40px;
}

.edit-automatic-invoice-container h3{
    margin: 0;
}
.edit-automatic-invoice {
    float: left;
    width: calc(100% - 40px);
    background-color: #fff;
    padding: 20px;
}