<div class="page-container">

    <div class="add-sales-container">
        <div class="add-sales-header">
            <h4>Добавяне на фактура (123123123123)</h4>
        </div>

        <div class="add-sales-inputs-container">
            <div class="first-row">

                <div class="input-container col-3">
                    <label for="client">Клиент</label>
                    <select class="invoice-input" name="client" id="client" (change)="SelectedClient()"
                        [(ngModel)]="invoiceData.client">
                        <option value="">Избери клиент</option>
                        <option value="{{ client._id }}" *ngFor="let client of clients">{{client.nameOfClient}}</option>
                    </select>
                </div>
                <div class="input-container col-3">
                    <label for="mol">МОЛ</label>
                    <input class="invoice-input" type="text" name="mol" id="mol" [(ngModel)]="invoiceData.mol">
                </div>
                <div class="input-container col-2">
                    <label for="documentType">Тип на документ</label>
                    <select class="invoice-input" name="documentType" id="documentType" (change)="CreateInvoiceNumber()"
                        [(ngModel)]="invoiceData.documentType">
                        <option value="фактура">Фактура</option>
                        <option value="проформа">Проформа</option>
                    </select>
                </div>
                <div class="input-container col-2">
                    <label for="invoiceNumber">Фактура номер</label>
                    <input class="invoice-input" type="number" name="invoiceNumber" id="invoiceNumber" disabled
                        [(ngModel)]="invoiceData.invoiceNumber">
                </div>
                <div class="input-container col-2">
                    <label for="invoiceDate">Дата на фактура</label>
                    <input class="invoice-input" type="text" name="invoiceDate" id="invoiceDate"
                        [(ngModel)]="invoiceData.invoiceDate">
                </div>
            </div>
            <div class="second-row">
                <div class="input-container col-3">
                    <label for="paymentTerm">Срок на плащане</label>
                    <select class="invoice-input" name="paymentTerm" id="paymentTerm"
                        [(ngModel)]="invoiceData.paymentTerm">
                        <option value="15">15 дни</option>
                        <option value="30">30 дни</option>
                    </select>
                </div>
                <div class="input-container col-3">
                    <label for="paymentType">Начин на плащане</label>
                    <select class="invoice-input" name="paymentType" id="paymentType"
                        [(ngModel)]="invoiceData.paymentType">
                        <option value="Банков превод">Банков превод</option>
                        <option value="В брой">В брой</option>
                    </select>
                </div>
                <div class="input-container col-3">
                    <label for="bankChoise">Избор на банка</label>
                    <select class="invoice-input" name="bankChoise" id="bankChoise"
                        [(ngModel)]="invoiceData.bankChoise">
                        <option value="ДСК">ДСК</option>
                        <option value="ОББ">ОББ</option>
                        <option value="УниКредит">УниКредит</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="add-invoice-table-container">
            <table class="add-invoice-table">
                <thead>
                    <tr>
                        <th class="table-n td-n">N</th>
                        <th>Описание на стока/услуга</th>
                        <th>Мярка</th>
                        <th>К-во</th>
                        <th>Ед.цена</th>
                        <th>T.O.%</th>
                        <th class="table-n">Стойност</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of invoiceData.products; let i = index">
                        <td class="table-n table-n-number" (click)="RemoveRow(i)">{{ i + 1 }}</td>
                        <td class="long-table-td">
                            <input type="text" [(ngModel)]="product.name" (keyup)="CheckForNewRow(product, i)" />
                        </td>
                        <td class="middle-table-td">
                            <select name="count" [(ngModel)]="product.measure">
                                <option value="бр." selected>бр</option>
                                <option value="ч.ч.">ч.ч</option>
                            </select>
                        </td>
                        <td class="short-table-td">
                            <input type="number" placeholder="0" [(ngModel)]="product.qty"
                                (keyup)="CheckForNewRow(product, i)" />
                        </td>
                        <td class="short-table-td">
                            <input type="number" placeholder="0" [(ngModel)]="product.unitPrice"
                                (keyup)="CheckForNewRow(product, i)" />
                        </td>
                        <td class="short-table-td">
                            <input type="number" placeholder="0" [(ngModel)]="product.to" />
                        </td>
                        <td class="table-n td-values">
                            {{ utility.ReturnFixed(product.qty * product.unitPrice) }} лв.
                        </td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="5"></td>
                        <td class="table-n">Субтотал</td>
                        <td class="table-n">{{ utility.ReturnTotalWithoutVAT(invoiceData).toFixed(2) }}</td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="5"></td>
                        <td class="table-n">ДДС 20%</td>
                        <td class="table-n">{{ (utility.ReturnTotalWithoutVAT(invoiceData) * 0.2).toFixed(2) }}</td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="5"></td>
                        <td class="table-n">Общо ДДС</td>
                        <td class="table-n">{{utility.ReturnTotalWithVAT(invoiceData).toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class='add-invoice-footer'>
        <button class="button-go-back">Назад</button>
        <button class="action-button">Добавяне и печат</button>
        <button class="action-button add-invoice-btn" (click)="createInvoice()">Добавяне</button>
    </div>
</div>