<div class="page-container">
    <div class="add-sales-container">
        <div class="add-sales-header">
            <h4>Добавяне на фактура (123123123123)</h4>
        </div>

        <div class="add-sales-inputs-container">
            <div class="first-row">
                <p>Основна информация</p>
                <div class="input-container col-3">
                    <label for="client">Клиент</label>
                    <input class="invoice-input" type="text" name="client" id="client">
                </div>
                <div class="input-container col-3">
                    <label for="mol">МОЛ</label>
                    <input class="invoice-input" type="text" name="mol" id="mol">
                </div>
                <div class="input-container col-2">
                    <label for="">Тип на документ</label>
                    <select class="invoice-input" name="documentType" id="documentType">
                        <option value="фактура">Фактура</option>
                        <option value="проформа">Проформа</option>
                    </select>
                </div>
                <div class="input-container col-2">
                    <label for="invoiceNumber">Фактура номер</label>
                    <input class="invoice-input" type="number" name="invoiceNumber" id="invoiceNumber">
                </div>
                <div class="input-container col-2">
                    <label for="invoiceDate">Дата на фактура</label>
                    <input class="invoice-input" type="text" name="invoiceDate" id="invoiceDate">
                </div>
            </div>
            <div class="second-row">
                <p>Детайли за плащане</p>

                <div class="input-container col-3">
                    <label for="paymentTerm">Срок на плащане</label>
                    <select class="invoice-input" name="paymentTerm" id="paymentTerm">
                        <option value="15">15 дни</option>
                        <option value="30">30 дни</option>
                    </select>
                </div>
                <div class="input-container col-3">
                    <label for="paymentType">Начин на плащане</label>
                    <select class="invoice-input" name="paymentType" id="paymentType">
                        <option value="Банков превод">Банков превод</option>
                        <option value="В брой">В брой</option>
                    </select>
                </div>
                <div class="input-container col-3">
                    <label for="bankChoise">Избор на банка</label>
                    <select class="invoice-input" name="bankChoise" id="bankChoise">
                        <option value="ДСК">ДСК</option>
                        <option value="ОББ">ОББ</option>
                        <option value="УниКредит">УниКредит</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='add-invoice-footer'>
            <button class="button-go-back">Назад</button>
            <button class="action-button">Добавяне и печат</button>
            <button class="action-button add-invoice-btn">Добавяне</button>
        </div>
    </div>
</div>