.home-container {
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.invoices {
    float: left;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 330px;
}

.holder {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(25% - 25px);
    background-color: white;
    height: 120px;
}

.title {
    float: left;
    text-transform: uppercase;
    margin: 10px 0 0 10px;
    font-weight: bold;
    color: gray;
}

.red-arrow, .green-arrow {
    float: left;
    margin: 10px;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.green-arrow {
    background-image: url('../../assets/going-positive-icon.svg');
}

.red-arrow {
    background-image: url('../../assets/going-negative-icon.svg');
}

.holder .values {
    float: left;
    width: 100%;
    color: #607DFF;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 0 20px;
}

.holder .values span {
    font-size: 30px;
    font-weight: 600;
}

.last-invoices {
    float: left;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 350px;
}

.last-income-invoices {
    float: left;
    margin: 0 20px 0 20px;
    width: calc(50% - 40px);
    height: 100%;
    background-color: white;
}

.last-output-invoices {
    float: right;
    margin: 0 20px 0 20px;
    width: calc(50% - 40px);
    height: 100%;
    background-color: white;
}

.last-invoices-title {
    float: left;
    width: calc(100% - 15px);
    color: gray;
    font-weight: bold;
    margin: 15px 0 0 15px;
}

.last-invoices table {
    float: left;
    margin: 15px;
    border: 1px solid #EBEBEB;
    border-collapse: collapse;
    width: calc(100% - 30px);
    height: calc(100% - 60px);
}

.last-invoices table thead {
    background-color: #F9FBFA;
}

table td {
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
}

table thead td {
    font-weight: bold;
}

table tbody  {
    font-weight: 600;
}

table tbody td {
    border: 1px solid #EBEBEB;
}

table .paid {
    background-color: #4FC11F;
}

table .unpaid {
    background-color: #FAA752;
}

table .table-paid-info {
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
}

